<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="../css/Add_employee.css">
</head>
<body>
    <div class="container">
        <div class="profile-icon">
            <img src="uploaded_img\icon\icon-employee.png" alt="Profile Icon">
        </div>
        <div class="form-container">
            <h2>Add Employee</h2>
            <form action="/Add_employee" method="POST" enctype="multipart/form-data">
                <label for="username">Username</label>
                <input type="text" id="username" name="employee_username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="employee_password" required>

                <label for="username">Position</label>
                <input type="text" id="position" name="position" required>

                <label for="img">Image</label>
                <input type="file" name="img">

                <button type="submit">OK</button>
            </form>
        </div>
    </div>

    <!-- Back to List นอกกรอบ -->
    <a href="/manage_employee" class="back-link">Back to List</a>
</body>
</html>
