@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  color: #333;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 55px;
}

.reviews {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reviews div {
  text-align: center;
  width: 250px;
  margin: 20px;
}

.reviews img {
  width: 100%;
  border-radius: 50%;
}

.reviews h3,
.reviews p {
  margin: 10px 0;
}

section.reviews div {
  display: flex;
  text-align: center;
  max-width: 800px;
  overflow: hidden;
  border: 2px solid #fed330; /* เพิ่ม border */
  border-radius: 50px; /* เพิ่ม border-radius เพื่อทำให้มีเส้นมนสวยงาม */
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 20%; /* ลดความกว้างของกรอบสี่เหลี่ยม */
  display: inline-block;
  margin-right: 20px;
  margin-left: 50px;
}

section.reviews .title {
  margin-bottom: 20px;
}

section.reviews .employee {
  margin-bottom: 40px;
  margin: 0 20px;
  flex: 0 0 calc(33.33% - 40px);
}

section.reviews div img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-bottom: 10px;
}

section.reviews div h3,
section.reviews div p {
  margin: 0; /* เพิ่ม */
  line-height: 1.6; /* เพิ่ม */
  overflow: hidden; /* เพิ่ม */
}

section.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 25px;
}

section.box-container .box {
  width: 45%;
  margin-bottom: 20px;
}

section.box-container .box h3 {
  margin-bottom: 5px;
}
