@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

body{
    font-family: "Anuphan", sans-serif;
    font-style: normal;
}
.head {
  display: flex;
  justify-content: flex-end; /* จัดเรียงให้อยู่ทางขวา */
  align-items: center; /* จัดให้อยู่กึ่งกลางตามแนวดิ่ง */
  padding: 0px; /* ขอบเขตของพื้นที่หัวของเว็บ */
}

.spacer {
  flex-grow: 1; /* ให้พื้นที่ว่างยืดขยายเต็มพื้นที่ที่เหลือ */
}

.btn {
  padding: 10px 20px; /* ขนาดของปุ่ม */
  background-color: #fed330; /* สีพื้นหลังของปุ่ม */
  color: black; /* สีข้อความ */
  border: none; /* ไม่มีเส้นขอบ */
  border-radius: 5px; /* ขอบโค้ง */
  text-decoration: none; /* ไม่มีการเขี้ยวเส้นใต้ข้อความ */
}

.btn:hover {
  background-color: white; /* เมื่อเมาส์ไฮไลต์ที่ปุ่ม */
}


h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 36px;
    color: #fed330;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
td {
  text-align: left;
  padding: 16px;
}

th {
  background-color: #fed330;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

form {
  width: 50%;
  margin: auto;
  border: 2px solid #fed330;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

input[type="submit"] {
  background-color: #fed330;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

a {
  display: inline-block;
  margin: 10px;
  color: #2c3e50;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
}

a:hover {
  border-bottom-color: #fed330;
}

.link-center {
  text-align: center;
  margin-top: 20px;
}

.link-center a {
  display: inline-block;
  margin: 10px;
  color: #fed330;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
}

.link-center a:hover {
  border-bottom-color: #fed330;
}