@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

body{
  font-family: "Anuphan", sans-serif;
  font-style: normal;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Style for the form */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #222;
  border-radius: 5px;
}

/* Style for input fields */
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #222;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for the submit button */
input[type="submit"] {
  background-color: #fed330;
  color: white;
  cursor: pointer;
}

/* Style for the "Back to List" link */
a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #fed330;
}


h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 36px;
  color: #fed330;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
text-align: left;
padding: 16px;
}

th {
background-color: #fed330;
color: white;
font-weight: 600;
text-transform: uppercase;
}

tr:nth-child(even) {
background-color: #f5f5f5;
}

form {
width: 50%;
margin: auto;
border: 2px solid #fed330;
padding: 20px;
border-radius: 5px;
}

label {
display: block;
font-weight: bold;
margin-bottom: 10px;
}

input[type="text"] {
width: 100%;
padding: 8px;
box-sizing: border-box;
border-radius: 5px;
border: none;
background-color: #f2f2f2;
}

input[type="submit"] {
background-color: #fed330;
color: white;
border: none;
padding: 10px 16px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
margin-top: 10px;
}

a {
display: inline-block;
margin: 10px;
color: #2c3e50;
text-decoration: none;
font-size: 18px;
font-weight: 600;
border-bottom: 2px solid transparent;
transition: border-bottom-color 0.2s;
}

a:hover {
border-bottom-color: #fed330;
}

.link-center {
text-align: center;
margin-top: 20px;
}

.link-center a {
display: inline-block;
margin: 10px;
color: #fed330;
text-decoration: none;
font-size: 18px;
font-weight: 600;
border-bottom: 2px solid transparent;
transition: border-bottom-color 0.2s;
}

.link-center a:hover {
border-bottom-color: #fed330;
}

#addStoreModal {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: rgb(255, 245, 198);
  box-shadow: 0 4px 8px rgba(255, 254, 244, 0.1);
  border-radius: 10px;
  z-index: 999;
}

#addStoreModal h2 {
  margin: 0; 
  text-align: center; /
}

#modalBackdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998; 
}

.btnBackpop {
  background-color: #baae83;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  }