@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

body{
  font-family: "Anuphan", sans-serif;
  font-style: normal;
}

header {
  background-color: #fed330;
  color: black;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}



.custom-button {
    background-color: #fed330; /* สีน้ำตาล */
    color: black; /* สีของตัวอักษร */
    border: none; /* ไม่มีเส้นขอบ */
    padding: 10px 20px; /* ระยะห่างภายใน */
    text-align: center; /* จัดข้อความตรงกลาง */
    text-decoration: none; /* ไม่มีการเพิ่มเส้นใต้ข้อความ */
    display: inline-block; /* แสดงเป็นบล็อกอินไลน์ */
    font-size: 16px; /* ขนาดตัวอักษร */
    margin: 4px 2px; /* ระยะห่างของขอบ */
    cursor: pointer; /* ปลายเมาส์แสดงเป็นปุ่ม */
    border-radius: 8px; /* มุมโค้งขอบ */
  }

  .card-header {
    background-color: #fed330; /* กำหนดสีเหลืองให้กับพื้นหลัง */
    color: black; /* กำหนดสีตัวอักษร */
    padding: 10px; /* กำหนดขอบของพื้นหลัง */
    text-align: center; /* จัดข้อความกึ่งกลาง */
    max-width: 85%; /* กำหนดความกว้างสูงสุดของ .card-header */
    margin: 0 auto; /* จัดข้อความตรงกลาง */
    border-radius: 8px;
  }

  .card-header h3 {
    margin: 0; /* ลบระยะห่างขอบของ h3 */
  }

  .btn-add-to-cart {
    background-color: #fed330;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card img {
  width: 100%; /* ให้ภาพเต็มความกว้างของการ์ด */
  height: 300px; /* กำหนดความสูงคงที่ */
  object-fit: cover; /* ปรับภาพให้เต็มพื้นที่โดยไม่เสียสัดส่วน */
}
