body{
    font-family: "Anuphan", sans-serif;
    font-style: normal;
  }
  
  img {
      width: 150px; /* กำหนดความกว้างของรูปภาพ */
      height: auto; /* ทำให้ความสูงของรูปภาพปรับให้สัดส่วน */
  }
  
  .form-control {
      overflow: hidden; /* ป้องกันการแสดงแถบเลื่อน */
  }
  
  .custom-button {
      background-color: #fed330; /* กำหนดสีเขียว */
      color: black; /* กำหนดสีของตัวอักษร */
      border: none; /* ไม่มีเส้นขอบ */
      padding: 10px 20px; /* ระยะห่างภายใน */
      text-align: center; /* จัดข้อความตรงกลาง */
      text-decoration: none; /* ไม่มีการเพิ่มเส้นใต้ข้อความ */
      display: inline-block; /* แสดงเป็นบล็อกอินไลน์ */
      font-size: 16px; /* ขนาดตัวอักษร */
      margin: 4px 2px; /* ระยะห่างของขอบ */
      cursor: pointer; /* ปลายเมาส์แสดงเป็นปุ่ม */
      border-radius: 8px; /* มุมโค้งขอบ */
      
  }
  
  .form-container {
      border: 1px solid #fed330; /* สีเส้นขอบ */
      border-radius: 5px; /* มุมขอบโค้ง */
      padding: 20px; /* ระยะห่างภายใน */
      width: 700px; /* กำหนดความกว้าง */
      margin: 0 auto; /* จัดกล่องให้อยู่ตรงกลาง */
  }
  
  a {
      display: inline-block;
      margin: 10px;
      color: #2c3e50;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 2px solid transparent;
      transition: border-bottom-color 0.2s;
    }
    
    a:hover {
      border-bottom-color: #fed330;
    }