body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
}

.container {
    text-align: center;
    border: 2px solid #880e4f; /* เปลี่ยนสีกรอบเป็นสีเหลือง */
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ad1457; /*กรอบไอคอน*/
}

.form-container {
    margin-top: 10px;
    text-align: left;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #ad1457; /*ปุ้มOK*/
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #880e4f;
    text-decoration: none;
    font-weight: bold;
}
